[Unit]
Description=Change Waypaper NSFW real wallpaper randomly

[Service]
Type=oneshot
ExecStart=/home/neil/.local/private/bin/byte4work-waypaper-nsfw-random-r
