[Unit]
Description=Timer to change Waypaper NSFW virtual wallpaper every 1 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=false

[Install]
WantedBy=default.target
