[Unit]
Description=Change Waypaper NSFW virtual wallpaper randomly

[Service]
Type=oneshot
ExecStart=/home/neil/.local/private/bin/launch-waypaper-nsfw-random-v
